.p-billboard__img{
    width: 100%;
    height: calc(100vh - 115px);
    object-fit: cover;
}

@media screen and (max-width: 768px){
    .p-billboard__img{
        height: calc(100vh - 115px);
    }
}

@media screen and (max-width: 414px){
    .p-billboard__img{
        height: calc(100vh - 85px);
    }
}