.p-footer{
    padding: var(--spacing-x-l) var(--spacing-m);
}

.p-footer__copyright{
    border-top: 1px solid var(--color-lightgray);
}

.p-footer__copyright__text{
    margin-top: var(--spacing-s);
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-lightgray);
}