.p-header__headerbar
    position: fixed
    z-index: 990


.p-header__billboard
    position: relative
    display: flex
    justify-content: center
    align-items: center
    padding-top: 115px
    @include md
        padding-top: 132px
    @include sm
        padding-top: 100px

