.p-header__headerbar{
    position: fixed;
    z-index: 999;
}

.p-header__billboard{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 115px;
}

@media screen and (max-width: 768px){
    .p-header__billboard{
        padding-top: 115px;
    }
}

@media screen and (max-width: 414px){
    .p-header__billboard{
        padding-top: 85px;
    }
}