.p-name__target{
    color: #fff;
    padding: var(--spacing-x-s);
}

@media screen and (max-width: 768px){
    .p-name{
        margin-bottom: var(--spacing-x-s);
        font-size: var(--font-size-lg);
    }
}