.p-skill{
    margin-bottom: var(--spacing-xx-l);
}

.p-skill__title{
    margin-bottom: var(--spacing-l);
    text-align: center;
}

.p-skill__cont{
    grid-gap: var(--spacing-s);
}

.p-skill__card{
    padding: var(--spacing-l);
    background-color: #222;
}

.p-skill__card__icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--spacing-s);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
}

.p-skill__card__icon__img{
    position: absolute;
    height: 60px;
}

.p-skill__card__description{
    width: 100%;
}

.p-skill__card__description__name{
    padding: var(--spacing-x-s);
    text-align: center;
    border-bottom: 1px solid #555;

}

.p-skill__card__description__text{
    padding: var(--spacing-x-s);
    text-align: center;
    font-size: var(--font-size-normal);
}