.p-works{
    margin-bottom: var(--spacing-xx-l);
}

.p-works__title{
    margin-bottom: var(--spacing-l);
    text-align: center;
}

.p-works__cont{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: var(--spacing-m);
    padding: var(--spacing-m);
    background-color: #222;
}

.p-works__cont:nth-last-child(1){
    margin-bottom: 0;
}

.p-works__images,
.p-works__description{
    flex: 0 1 calc(100% / 2);
}

.p-works__images__overlay{
    overflow: hidden;
    opacity: 1;
    margin-right: auto;
    margin-left: auto;
    background-color: #000;
}

.p-works__images__img{
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}

.p-works__images:hover .p-works__images__img{
    opacity: 0.5;
    transform: scale(1.1);
}

.p-works__description{
    margin-left: var(--spacing-m);
}

.p-works__description__heading,
.p-works__description__text,
.p-works__description__uses,
.p-works__description__source{
    text-align: center;
}

.p-works__description__heading{
    margin-bottom: var(--spacing-m);
}

.p-works__description__text{
    margin-bottom: var(--spacing-m);
}

.p-works__description__uses{
    margin-bottom: var(--spacing-s);
    font-size: var(--font-size-sm);
}

.p-works__description__source__target{
    padding: var(--spacing-x-s);
    font-size: var(--font-size-sm);
    color: #09f;
    transition: all 0.3s;
}

.p-works__description__source__target:hover{
    opacity: 0.7;
}

@media screen and (max-width: 768px){
    .p-works__cont{
        flex-flow: column nowrap;
    }
    
    .p-works__images{
        margin-bottom: var(--spacing-m);
    }
    
    .p-works__description{
        margin-left: 0;
    }
}